<% content_for :actions do %>
    <div class="mmenu">
        <input type="button" class="button" id="refresh" value="Refresh"/>
        <input type="button" class="button" id="add_folder" value="Add Root Folder"/>
    </div>
    <br>

    <div id="jsTree" class="jsTree jstree-apple"></div>
<% end %>
